# Rename Columns and Update Datatypes

## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#create file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
#import dataset and check import
metrobikes = pd.read_csv(os.path.join(path, '02.Data', 'OriginalData', 'Austin_MetroBike_Trips.csv'), 
                        low_memory = False)
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk,Return Kiosk ID,Return Kiosk,Trip Duration Minutes,Month,Year
0,16459203,Local365,37,classic,12/01/2017 09:51:41 AM,12/01/2017,9:51:41,2496.0,8th & Congress,2495,4th & Congress,3,12,2017
1,4106422,Local365,971,classic,03/13/2015 04:20:24 PM,03/13/2015,16:20:24,2495.0,4th/Congress,2495,4th/Congress,14,3,2015
2,3454605,Local365,29,classic,10/14/2014 08:33:54 AM,10/14/2014,8:33:54,2712.0,Toomey Rd @ South Lamar,2575,Riverside/South Lamar,22,10,2014
3,3454592,Local365,646,classic,10/14/2014 08:32:03 AM,10/14/2014,8:32:03,2552.0,3rd/West,2496,8th/Congress,29,10,2014
4,4106421,24 Hour Walk Up Pass,124,classic,03/13/2015 04:20:15 PM,03/13/2015,16:20:15,2498.0,Dean Keeton/Speedway,2549,South 1st/Riverside @ Long Center,10,3,2015

In [4]:
#verify shape
metrobikes.shape

(1991726, 14)

## 2. Update column names for clarity

In [5]:
#change checkout kiosk column name
metrobikes.rename(columns = {'Checkout Kiosk':'Checkout Kiosk Name'}, inplace = True)
metrobikes.columns

Index(['Trip ID', 'Membership Type', 'Bicycle ID', 'Bike Type',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time',
       'Checkout Kiosk ID', 'Checkout Kiosk Name', 'Return Kiosk ID',
       'Return Kiosk', 'Trip Duration Minutes', 'Month', 'Year'],
      dtype='object')

In [6]:
#change return kiosk column name
metrobikes.rename(columns = {'Return Kiosk':'Return Kiosk Name'}, inplace = True)
metrobikes.columns

Index(['Trip ID', 'Membership Type', 'Bicycle ID', 'Bike Type',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time',
       'Checkout Kiosk ID', 'Checkout Kiosk Name', 'Return Kiosk ID',
       'Return Kiosk Name', 'Trip Duration Minutes', 'Month', 'Year'],
      dtype='object')

In [7]:
#change trip duration minutes
metrobikes.rename(columns = {'Trip Duration Minutes':'Trip Time mins'}, inplace = True)
metrobikes.columns

Index(['Trip ID', 'Membership Type', 'Bicycle ID', 'Bike Type',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time',
       'Checkout Kiosk ID', 'Checkout Kiosk Name', 'Return Kiosk ID',
       'Return Kiosk Name', 'Trip Time mins', 'Month', 'Year'],
      dtype='object')

## 3. Modify datatypes

In [8]:
#check current datatypes
metrobikes.dtypes

Trip ID                  int64
Membership Type         object
Bicycle ID              object
Bike Type               object
Checkout Datetime       object
Checkout Date           object
Checkout Time           object
Checkout Kiosk ID      float64
Checkout Kiosk Name     object
Return Kiosk ID         object
Return Kiosk Name       object
Trip Time mins           int64
Month                    int64
Year                     int64
dtype: object

In [9]:
#change bike type to category and check for completion
metrobikes['Bike Type'] = metrobikes['Bike Type'].astype('category')
metrobikes.dtypes

Trip ID                   int64
Membership Type          object
Bicycle ID               object
Bike Type              category
Checkout Datetime        object
Checkout Date            object
Checkout Time            object
Checkout Kiosk ID       float64
Checkout Kiosk Name      object
Return Kiosk ID          object
Return Kiosk Name        object
Trip Time mins            int64
Month                     int64
Year                      int64
dtype: object

In [11]:
#change checkout datetime to datetime and check for completion
metrobikes['Checkout Datetime'] = pd.to_datetime(metrobikes['Checkout Datetime'])
metrobikes.dtypes

Trip ID                         int64
Membership Type                object
Bicycle ID                     object
Bike Type                    category
Checkout Datetime      datetime64[ns]
Checkout Date                  object
Checkout Time                  object
Checkout Kiosk ID             float64
Checkout Kiosk Name            object
Return Kiosk ID                object
Return Kiosk Name              object
Trip Time mins                  int64
Month                           int64
Year                            int64
dtype: object

In [12]:
metrobikes['Checkout Datetime'].head(10)

0   2017-12-01 09:51:41
1   2015-03-13 16:20:24
2   2014-10-14 08:33:54
3   2014-10-14 08:32:03
4   2015-03-13 16:20:15
5   2017-08-30 15:14:30
6   2017-12-03 13:52:35
7   2017-12-03 15:01:36
8   2017-12-04 17:24:12
9   2017-12-09 10:48:17
Name: Checkout Datetime, dtype: datetime64[ns]

In [14]:
#change checkout date to datetime and check for completion
metrobikes['Checkout Date'] = pd.to_datetime(metrobikes['Checkout Date'])
metrobikes['Checkout Date'].head(10)

0   2017-12-01
1   2015-03-13
2   2014-10-14
3   2014-10-14
4   2015-03-13
5   2017-08-30
6   2017-12-03
7   2017-12-03
8   2017-12-04
9   2017-12-09
Name: Checkout Date, dtype: datetime64[ns]

In [15]:
#change checkout time to datetime and check for completion
metrobikes['Checkout Time'] = pd.to_datetime(metrobikes['Checkout Time'])
metrobikes['Checkout Time'].head(10)

0   2023-09-14 09:51:41
1   2023-09-14 16:20:24
2   2023-09-14 08:33:54
3   2023-09-14 08:32:03
4   2023-09-14 16:20:15
5   2023-09-14 15:14:30
6   2023-09-14 13:52:35
7   2023-09-14 15:01:36
8   2023-09-14 17:24:12
9   2023-09-14 10:48:17
Name: Checkout Time, dtype: datetime64[ns]

In [16]:
#check all dates and times are now datetime
metrobikes.dtypes

Trip ID                         int64
Membership Type                object
Bicycle ID                     object
Bike Type                    category
Checkout Datetime      datetime64[ns]
Checkout Date          datetime64[ns]
Checkout Time          datetime64[ns]
Checkout Kiosk ID             float64
Checkout Kiosk Name            object
Return Kiosk ID                object
Return Kiosk Name              object
Trip Time mins                  int64
Month                           int64
Year                            int64
dtype: object

## 4. Remove outliers (trip time >411 minutes) from trip time

In [22]:
#remove rows where trip time >411
metrobikes_no_outlier = metrobikes.drop(metrobikes[metrobikes['Trip Time mins'] > 411].index)

In [23]:
#check maximum of trip time
metrobikes_no_outlier['Trip Time mins'].max()

411

### removed 14,778 rows as outliers

## 5. Check new shape

In [25]:
metrobikes_no_outlier.shape

(1976948, 14)

## 6. Export file as checkpoint

In [26]:
#export to pkl
metrobikes_no_outlier.to_pickle(os.path.join(path, 
                                             '02.Data', 
                                             'PreparedData', 
                                             'metrobikes_dtypes_outlierremoval.pkl'))