## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
#create file path
path = r'C:\Users\krist\ATX Metro Bike'

In [4]:
#import trips dataset
#check import
metrobikes = pd.read_pickle(os.path.join(path,
                                      '02.Data', 
                                      'PreparedData', 
                                      'metrobikes_dtypes_outlierremoval.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk Name,Return Kiosk ID,Return Kiosk Name,Trip Time mins,Month,Year
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,2023-09-14 09:51:41,2496.0,8th & Congress,2495,4th & Congress,3,12,2017
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,2023-09-14 16:20:24,2495.0,4th/Congress,2495,4th/Congress,14,3,2015
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,2023-09-14 08:33:54,2712.0,Toomey Rd @ South Lamar,2575,Riverside/South Lamar,22,10,2014
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,2023-09-14 08:32:03,2552.0,3rd/West,2496,8th/Congress,29,10,2014
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,2023-09-14 16:20:15,2498.0,Dean Keeton/Speedway,2549,South 1st/Riverside @ Long Center,10,3,2015

In [5]:
#check shape
metrobikes.shape

(1976948, 14)

### import sucessful

In [6]:
metrobikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1976948 entries, 0 to 1991725
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   Trip ID              int64
 1   Membership Type      object
 2   Bicycle ID           object
 3   Bike Type            category
 4   Checkout Datetime    datetime64[ns]
 5   Checkout Date        datetime64[ns]
 6   Checkout Time        datetime64[ns]
 7   Checkout Kiosk ID    float64
 8   Checkout Kiosk Name  object
 9   Return Kiosk ID      object
 10  Return Kiosk Name    object
 11  Trip Time mins       int64
 12  Month                int64
 13  Year                 int64
dtypes: category(1), datetime64[ns](3), float64(1), int64(4), object(5)
memory usage: 213.0+ MB

## 2. Import location datasets for checkout and return kiosks

In [8]:
#import chekcout location dataset
chkout_locs = pd.read_csv(os.path.join(path,
                                      '02.Data', 
                                      'OriginalData', 
                                      'Checkout Kiosk Locations.csv'), 
                         index_col = False)
chkout_locs.head()

,Checkout Kiosk Name,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count
0,10th & Red River,10th & Red River,4051,active,"(30.27024, -97.73578)",13.0
1,10th/Red River,10th & Red River,4051,active,"(30.27024, -97.73578)",13.0
2,11th & Salina,11th & Salina,4055,active,"(30.26638, -97.7214)",13.0
3,11th & San Jacinto,11th & San Jacinto,3291,active,"(30.27193, -97.73854)",11.0
4,11th/Congress @ The Texas Capitol,Capitol Station / Congress & 11th,2497,active,"(30.2726, -97.74127)",18.0

In [9]:
#check that checkout kiosk name is also object datatype 
chkout_locs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Checkout Kiosk Name                 178 non-null    object
 1   Checkout Name Current               178 non-null    object
 2   Checkout Kiosk ID current           178 non-null    int64
 3   Checkout Kiosk Status               177 non-null    object
 4   Checkout Kiosk Geographic Location  177 non-null    object
 5   Checkout Kiosk Dock Count           177 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.5+ KB

In [10]:
#import return location dataset
retrn_locs = pd.read_csv(os.path.join(path,
                                      '02.Data', 
                                      'OriginalData', 
                                      'Return Kiosk Locations.csv'), 
                         index_col = False)
retrn_locs.head()

,Return Kiosk Name,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
0,10th & Red River,10th & Red River,4051,active,"(30.27024, -97.73578)",13.0
1,10th/Red River,10th & Red River,4051,active,"(30.27024, -97.73578)",13.0
2,11th & Salina,11th & Salina,4055,active,"(30.26638, -97.7214)",13.0
3,11th & San Jacinto,11th & San Jacinto,3291,active,"(30.27193, -97.73854)",11.0
4,11th/Congress @ The Texas Capitol,Capitol Station / Congress & 11th,2497,active,"(30.2726, -97.74127)",18.0

In [11]:
#check that checkout kiosk name is also object datatype 
retrn_locs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Return Kiosk Name                 178 non-null    object
 1   Return Name Current               178 non-null    object
 2   Return Kiosk ID current           178 non-null    int64
 3   Return Kiosk Status               177 non-null    object
 4   Return Kiosk Geographic Location  177 non-null    object
 5   Return Kiosk Dock Count           177 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.5+ KB

## 3. Join checkout location dataset with metrobikes

In [13]:
#use left merge to retain all information from original dataset
metrobikes_chkoutloc_merge = pd.merge(metrobikes, chkout_locs, on = 'Checkout Kiosk Name', how = 'left')

In [15]:
#check merge
metrobikes_chkoutloc_merge.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk Name,Return Kiosk ID,Return Kiosk Name,Trip Time mins,Month,Year,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,2023-09-14 09:51:41,2496.0,8th & Congress,2495,4th & Congress,3,12,2017,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,2023-09-14 16:20:24,2495.0,4th/Congress,2495,4th/Congress,14,3,2015,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,2023-09-14 08:33:54,2712.0,Toomey Rd @ South Lamar,2575,Riverside/South Lamar,22,10,2014,Toomey Rd @ South Lamar,2712.0,closed,"(30.26304, -97.75824)",0.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,2023-09-14 08:32:03,2552.0,3rd/West,2496,8th/Congress,29,10,2014,3rd & West,2552.0,active,"(30.2678, -97.75189)",13.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,2023-09-14 16:20:15,2498.0,Dean Keeton/Speedway,2549,South 1st/Riverside @ Long Center,10,3,2015,Dean Keeton & Speedway,3794.0,active,"(30.28953, -97.73695)",19.0

In [16]:
#check merged dataset shape
metrobikes_chkoutloc_merge.shape

(1976948, 19)

## 4. Join return location dataset with metrobikes_chkoutloc_merge

In [17]:
#use left merge to retain all information from original dataset
metrobikes_retloc_merge = pd.merge(metrobikes_chkoutloc_merge, retrn_locs, on = 'Return Kiosk Name', how = 'left')

In [18]:
#check merge
metrobikes_retloc_merge.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk Name,Return Kiosk ID,...,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,2023-09-14 09:51:41,2496.0,8th & Congress,2495,...,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,2023-09-14 16:20:24,2495.0,4th/Congress,2495,...,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,2023-09-14 08:33:54,2712.0,Toomey Rd @ South Lamar,2575,...,Toomey Rd @ South Lamar,2712.0,closed,"(30.26304, -97.75824)",0.0,Riverside @ S. Lamar,2575.0,active,"(30.26446, -97.75665)",15.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,2023-09-14 08:32:03,2552.0,3rd/West,2496,...,3rd & West,2552.0,active,"(30.2678, -97.75189)",13.0,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,2023-09-14 16:20:15,2498.0,Dean Keeton/Speedway,2549,...,Dean Keeton & Speedway,3794.0,active,"(30.28953, -97.73695)",19.0,Long Center @ South 1st & Riverside,2549.0,active,"(30.25941, -97.74971)",13.0

In [19]:
#check new shape
metrobikes_retloc_merge.shape

(1976948, 24)

## 5. Export merged dataset as pkl

In [21]:
#export to pkl
metrobikes_retloc_merge.to_pickle(os.path.join(path, 
                                             '02.Data', 
                                             'PreparedData', 
                                             'metrobikes_locations_merged.pkl'))