## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#create file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
#import merged dataset and check import
metrobikes = pd.read_pickle(os.path.join(path,
                                      '02.Data', 
                                      'PreparedData', 
                                      'metrobikes_locations_merged.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Checkout Kiosk ID,Checkout Kiosk Name,Return Kiosk ID,...,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,2023-09-14 09:51:41,2496.0,8th & Congress,2495,...,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,2023-09-14 16:20:24,2495.0,4th/Congress,2495,...,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,2023-09-14 08:33:54,2712.0,Toomey Rd @ South Lamar,2575,...,Toomey Rd @ South Lamar,2712.0,closed,"(30.26304, -97.75824)",0.0,Riverside @ S. Lamar,2575.0,active,"(30.26446, -97.75665)",15.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,2023-09-14 08:32:03,2552.0,3rd/West,2496,...,3rd & West,2552.0,active,"(30.2678, -97.75189)",13.0,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,2023-09-14 16:20:15,2498.0,Dean Keeton/Speedway,2549,...,Dean Keeton & Speedway,3794.0,active,"(30.28953, -97.73695)",19.0,Long Center @ South 1st & Riverside,2549.0,active,"(30.25941, -97.74971)",13.0

In [4]:
#check shape
metrobikes.shape

(1976948, 24)

## 2. Check new dataset missing values

In [5]:
metrobikes.isnull().sum()

Trip ID                                   0
Membership Type                        5217
Bicycle ID                                0
Bike Type                                 0
Checkout Datetime                         0
Checkout Date                             0
Checkout Time                             0
Checkout Kiosk ID                      4440
Checkout Kiosk Name                       0
Return Kiosk ID                       31487
Return Kiosk Name                         0
Trip Time mins                            0
Month                                     0
Year                                      0
Checkout Name Current                 70481
Checkout Kiosk ID current             70481
Checkout Kiosk Status                 70482
Checkout Kiosk Geographic Location    70482
Checkout Kiosk Dock Count             70482
Return Name Current                   70945
Return Kiosk ID current               70945
Return Kiosk Status                   70951
Return Kiosk Geographic Location      70951
Return Kiosk Dock Count               70951
dtype: int64

### change 5217 missing membership types to unknown

In [6]:
# mark missing membership types as unknown
metrobikes['Membership Type'].fillna('Unkown', inplace=True)

In [7]:
#check missing is successful
metrobikes.isnull().sum()

Trip ID                                   0
Membership Type                           0
Bicycle ID                                0
Bike Type                                 0
Checkout Datetime                         0
Checkout Date                             0
Checkout Time                             0
Checkout Kiosk ID                      4440
Checkout Kiosk Name                       0
Return Kiosk ID                       31487
Return Kiosk Name                         0
Trip Time mins                            0
Month                                     0
Year                                      0
Checkout Name Current                 70481
Checkout Kiosk ID current             70481
Checkout Kiosk Status                 70482
Checkout Kiosk Geographic Location    70482
Checkout Kiosk Dock Count             70482
Return Name Current                   70945
Return Kiosk ID current               70945
Return Kiosk Status                   70951
Return Kiosk Geographic Location      70951
Return Kiosk Dock Count               70951
dtype: int64

### 3.5% of rows have missings

In [8]:
#check categories of membership type for successful handling of missings
metrobikes['Membership Type'].value_counts()

Local365                                     358303
U.T. Student Membership                      286396
24 Hour Walk Up Pass                         270095
Student Membership                           269829
Walk Up                                      257955
                                              ...
Membership: pay once, one-year commitment         2
Annual Pass (30 minute)                           2
Heartland Pass (Monthly Pay)                      1
RESTRICTED                                        1
24-Hour Membership                                1
Name: Membership Type, Length: 61, dtype: int64

## 3. Investigate missing values in checkout and return kiosks

In [9]:
#create missing subset
chckt_name_current = metrobikes[metrobikes['Checkout Name Current'].isnull() == True]
chckt_name_current[['Checkout Kiosk Name', 'Checkout Name Current']].head()

    Checkout Kiosk Name Checkout Name Current
20      Guadalupe & 6th                   NaN
105        Rainey/Davis                   NaN
106        Rainey/Davis                   NaN
107        Rainey/Davis                   NaN
110        Rainey/Davis                   NaN

In [10]:
#check frequencies of return kiosk names in return missing subset
chckt_name_current['Checkout Kiosk Name'].value_counts()

Davis at Rainey Street                         20861
Convention Center / 4th St. @ MetroRail        17239
Rainey/Davis                                   15644
23rd/Pearl                                      9721
Republic Square @ Federal Courthouse Plaza      4017
One Texas Center                                 949
Guadalupe & 6th                                  948
Dean Keeton/Park Place                           917
4th/Neches @ MetroRail Downtown                   37
MapJam at Pan Am Park                             32
Springfest 2022                                   32
MapJam at French Legation                         26
MapJam at Hops & Grain Brewery                    17
MapJam at Scoot Inn                               11
Mobile Station @ Boardwalk Opening Ceremony        9
Re-branding                                        5
Customer Service                                   4
Marketing Event                                    4
Mobile Station @ Unplugged                         4
Eeyore's 2018                                      2
Mobile Station                                     1
Eeyore's 2017                                      1
Name: Checkout Kiosk Name, dtype: int64

### checkout kiosk names are at locations that no longer exist, result from a jam, or special events

In [11]:
#create missing subset and check original return names and to see if they are in current location list
retrn_name_current = metrobikes[metrobikes['Return Name Current'].isnull() == True]
retrn_name_current[['Return Kiosk Name', 'Return Name Current']].head()

          Return Kiosk Name Return Name Current
31   Davis at Rainey Street                 NaN
72             Rainey/Davis                 NaN
85             Rainey/Davis                 NaN
202            Rainey/Davis                 NaN
205            Rainey/Davis                 NaN

In [12]:
#check frequencies of return kiosk names in return missing subset
retrn_name_current['Return Kiosk Name'].value_counts()

Davis at Rainey Street                         20942
Convention Center / 4th St. @ MetroRail        18115
Rainey/Davis                                   15561
23rd/Pearl                                      9239
Republic Square @ Federal Courthouse Plaza      3752
Dean Keeton/Park Place                          1053
Guadalupe & 6th                                  958
One Texas Center                                 829
Customer Service                                 141
ACL 2019 Drop Off                                119
4th/Neches @ MetroRail Downtown                   44
MapJam at Pan Am Park                             39
MapJam at French Legation                         28
Springfest 2022                                   25
MapJam at Hops & Grain Brewery                    24
MapJam at Scoot Inn                               19
Fantasy Zilker                                    14
Mobile Station @ Unplugged                        13
Marketing Event                                   11
Mobile Station                                     8
Mobile Station @ Boardwalk Opening Ceremony        4
Eeyore's 2017                                      4
Earth Day ATX 2017                                 2
Re-branding                                        1
Name: Return Kiosk Name, dtype: int64

### return kiosk names are at locations that no longer exist, result from a jam, or special events

## 4. Remove rows with missing values in Return Name Current because location data not available and/or locations no longer exist

In [13]:
#remove rows where return name current is NaN
metrobikes_clean = metrobikes.drop(metrobikes[metrobikes['Return Name Current'].isnull() == True].index)

In [14]:
#check new missings count
metrobikes_clean.isnull().sum()

Trip ID                                   0
Membership Type                           0
Bicycle ID                                0
Bike Type                                 0
Checkout Datetime                         0
Checkout Date                             0
Checkout Time                             0
Checkout Kiosk ID                      4367
Checkout Kiosk Name                       0
Return Kiosk ID                       30204
Return Kiosk Name                         0
Trip Time mins                            0
Month                                     0
Year                                      0
Checkout Name Current                 61702
Checkout Kiosk ID current             61702
Checkout Kiosk Status                 61703
Checkout Kiosk Geographic Location    61703
Checkout Kiosk Dock Count             61703
Return Name Current                       0
Return Kiosk ID current                   0
Return Kiosk Status                       6
Return Kiosk Geographic Location          6
Return Kiosk Dock Count                   6
dtype: int64

In [15]:
#remove rows where checkout name current is NaN
metrobikes_clean2 = metrobikes_clean.drop(metrobikes_clean[metrobikes_clean['Checkout Name Current'].isnull() == True].index)

In [16]:
#check new missings count
metrobikes_clean2.isnull().sum()

Trip ID                                   0
Membership Type                           0
Bicycle ID                                0
Bike Type                                 0
Checkout Datetime                         0
Checkout Date                             0
Checkout Time                             0
Checkout Kiosk ID                      4261
Checkout Kiosk Name                       0
Return Kiosk ID                       29210
Return Kiosk Name                         0
Trip Time mins                            0
Month                                     0
Year                                      0
Checkout Name Current                     0
Checkout Kiosk ID current                 0
Checkout Kiosk Status                     1
Checkout Kiosk Geographic Location        1
Checkout Kiosk Dock Count                 1
Return Name Current                       0
Return Kiosk ID current                   0
Return Kiosk Status                       6
Return Kiosk Geographic Location          6
Return Kiosk Dock Count                   6
dtype: int64

## 5. Drop redundant columns and columns with old information: checkout kiosk name, checkout kiosk ID, return kiosk ID, return kiosk name

In [17]:
#create list of columns to be dropped
drop_cols = ['Checkout Kiosk ID', 'Checkout Kiosk Name', 'Return Kiosk ID', 'Return Kiosk Name']

In [18]:
#drop redundant columns and check output
metrobikes_clean2_dropcols = metrobikes_clean2.drop(columns = drop_cols)
metrobikes_clean2_dropcols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844301 entries, 0 to 1976947
Data columns (total 20 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Trip ID                             int64
 1   Membership Type                     object
 2   Bicycle ID                          object
 3   Bike Type                           category
 4   Checkout Datetime                   datetime64[ns]
 5   Checkout Date                       datetime64[ns]
 6   Checkout Time                       datetime64[ns]
 7   Trip Time mins                      int64
 8   Month                               int64
 9   Year                                int64
 10  Checkout Name Current               object
 11  Checkout Kiosk ID current           float64
 12  Checkout Kiosk Status               object
 13  Checkout Kiosk Geographic Location  object
 14  Checkout Kiosk Dock Count           float64
 15  Return Name Current                 object
 16  Return Kiosk ID current             float64
 17  Return Kiosk Status                 object
 18  Return Kiosk Geographic Location    object
 19  Return Kiosk Dock Count             float64
dtypes: category(1), datetime64[ns](3), float64(4), int64(4), object(8)
memory usage: 283.2+ MB

### re-check missing values

In [19]:
metrobikes_clean2_dropcols.isnull().sum()

Trip ID                               0
Membership Type                       0
Bicycle ID                            0
Bike Type                             0
Checkout Datetime                     0
Checkout Date                         0
Checkout Time                         0
Trip Time mins                        0
Month                                 0
Year                                  0
Checkout Name Current                 0
Checkout Kiosk ID current             0
Checkout Kiosk Status                 1
Checkout Kiosk Geographic Location    1
Checkout Kiosk Dock Count             1
Return Name Current                   0
Return Kiosk ID current               0
Return Kiosk Status                   6
Return Kiosk Geographic Location      6
Return Kiosk Dock Count               6
dtype: int64

### missings remain in checkout kiosk status and return kiosk status

### Investigate remaining missings

In [20]:
#current shape is 
metrobikes_clean2_dropcols.shape

(1844301, 20)

### current shape is 6.7% smaller d/t kiosks that were part of jams, special events, mobile kiosks, no longer part of current kiosk list

In [21]:
#create subset where return kiosk status is missing
rtrn_missings = metrobikes_clean2_dropcols[metrobikes_clean2_dropcols['Return Kiosk Status'].isnull() == True]
rtrn_missings

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
3204,4050430,24 Hour Walk Up Pass,223,classic,2015-03-07 09:27:43,2015-03-07,2023-09-14 09:27:43,250,3,2015,West & 6th St.,2537.0,active,"(30.27041, -97.75046)",13.0,Stolen,1111111.0,NaN,NaN,NaN
272131,7031034,Local365,277,classic,2015-10-02 22:49:06,2015-10-02,2023-09-14 22:49:06,8,10,2015,2nd & Congress,2494.0,active,"(30.26408, -97.74355)",15.0,Stolen,1111111.0,NaN,NaN,NaN
328619,5141650,Founding Member,104,classic,2015-06-03 20:27:13,2015-06-03,2023-09-14 20:27:13,29,6,2015,Barton Springs @ Kinney Ave,2711.0,active,"(30.262, -97.76118)",16.0,Stolen,1111111.0,NaN,NaN,NaN
331922,5048254,Local31,113,classic,2015-05-28 12:23:37,2015-05-28,2023-09-14 12:23:37,29,5,2015,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0,Stolen,1111111.0,NaN,NaN,NaN
383237,4110494,24 Hour Walk Up Pass,890,classic,2015-03-14 02:12:17,2015-03-14,2023-09-14 02:12:17,29,3,2015,Trinity & 6th Street,2565.0,active,"(30.26735, -97.73933)",11.0,Stolen,1111111.0,NaN,NaN,NaN
384118,3986877,Explorer,661,classic,2015-02-21 15:54:56,2015-02-21,2023-09-14 15:54:56,262,2,2015,Plaza Saltillo,2542.0,active,"(30.26217, -97.72743)",12.0,Stolen,1111111.0,NaN,NaN,NaN

### All rows where return kiosk status is missing are d/t stolen bikes. They are also missing geographic location and dock count

In [22]:
#create subset where checkout kiosk status is missing
chkt_missings = metrobikes_clean2_dropcols[metrobikes_clean2_dropcols['Checkout Kiosk Status'].isnull() == True]
chkt_missings

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
441442,14088519,Local365,610,classic,2017-03-18 09:31:39,2017-03-18,2023-09-14 09:31:39,105,3,2017,Stolen,1111111.0,NaN,NaN,NaN,Trinity & 6th Street,2565.0,active,"(30.26735, -97.73933)",11.0

### All remaining missings are from bikes that were stolen. Remaining missings are only 7 rows. Will change kiosk statuses to 'stolen', kiosk dock counts to '0' and kiosk geographic locations to '(20.10001, -10.10001)'

## 6. Make changes to handle remaining missings (noted above)

In [23]:
# mark missing return kiosk statuses as stolen
metrobikes_clean2_dropcols['Return Kiosk Status'].fillna('Stolen', inplace=True)

In [24]:
# mark missing checkout kiosk statuses as stolen
metrobikes_clean2_dropcols['Checkout Kiosk Status'].fillna('Stolen', inplace=True)

In [25]:
# mark missing return kiosk dock count as 0
metrobikes_clean2_dropcols['Return Kiosk Dock Count'].fillna(0, inplace=True)

In [26]:
# mark missing checkout kiosk dock count as 0
metrobikes_clean2_dropcols['Checkout Kiosk Dock Count'].fillna(0, inplace=True)

In [27]:
# mark missing Return Kiosk Geographic Location as '(20.10001, -10.10001)'
metrobikes_clean2_dropcols['Return Kiosk Geographic Location'].fillna('(20.10001, -10.10001)', inplace=True)

In [28]:
# mark missing Checkout Kiosk Geographic Location as '(20.10001, -10.10001)'
metrobikes_clean2_dropcols['Checkout Kiosk Geographic Location'].fillna('(20.10001, -10.10001)', inplace=True)

## 7. Check missing value count

In [29]:
metrobikes_clean2_dropcols.isnull().sum()

Trip ID                               0
Membership Type                       0
Bicycle ID                            0
Bike Type                             0
Checkout Datetime                     0
Checkout Date                         0
Checkout Time                         0
Trip Time mins                        0
Month                                 0
Year                                  0
Checkout Name Current                 0
Checkout Kiosk ID current             0
Checkout Kiosk Status                 0
Checkout Kiosk Geographic Location    0
Checkout Kiosk Dock Count             0
Return Name Current                   0
Return Kiosk ID current               0
Return Kiosk Status                   0
Return Kiosk Geographic Location      0
Return Kiosk Dock Count               0
dtype: int64

## 8. Check new shape

In [30]:
#shape before export
metrobikes_clean2_dropcols.shape

(1844301, 20)

## 9. Export dataset

In [32]:
#export to pkl
metrobikes_clean2_dropcols.to_pickle(os.path.join(path, 
                                             '02.Data', 
                                             'PreparedData', 
                                            'metrobikes_missings.pkl'))