## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#create file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
#import merged dataset and check import
metrobikes = pd.read_pickle(os.path.join(path,
                                      '02.Data', 
                                      'PreparedData',
                                      'metrobikes_missings.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,2023-09-14 09:51:41,3,12,2017,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,2023-09-14 16:20:24,14,3,2015,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,2023-09-14 08:33:54,22,10,2014,Toomey Rd @ South Lamar,2712.0,closed,"(30.26304, -97.75824)",0.0,Riverside @ S. Lamar,2575.0,active,"(30.26446, -97.75665)",15.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,2023-09-14 08:32:03,29,10,2014,3rd & West,2552.0,active,"(30.2678, -97.75189)",13.0,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,2023-09-14 16:20:15,10,3,2015,Dean Keeton & Speedway,3794.0,active,"(30.28953, -97.73695)",19.0,Long Center @ South 1st & Riverside,2549.0,active,"(30.25941, -97.74971)",13.0

In [4]:
#check shape to verify dataset import
metrobikes.shape

(1844301, 20)

### Noticed Checkout time now includes date. Return to time only

In [5]:
#remove date from checkout time and confirm
metrobikes['Checkout Time'] = metrobikes['Checkout Time'].dt.time
metrobikes['Checkout Time']

0          09:51:41
1          16:20:24
2          08:33:54
3          08:32:03
4          16:20:15
             ...
1976943    09:12:46
1976944    17:15:30
1976945    10:47:28
1976946    17:15:47
1976947    20:05:53
Name: Checkout Time, Length: 1844301, dtype: object

In [6]:
#confirm again
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,Checkout Name Current,Checkout Kiosk ID current,Checkout Kiosk Status,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Name Current,Return Kiosk ID current,Return Kiosk Status,Return Kiosk Geographic Location,Return Kiosk Dock Count
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,09:51:41,3,12,2017,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,16:20:24,14,3,2015,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0,4th & Congress,2495.0,active,"(30.26634, -97.74378)",15.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,08:33:54,22,10,2014,Toomey Rd @ South Lamar,2712.0,closed,"(30.26304, -97.75824)",0.0,Riverside @ S. Lamar,2575.0,active,"(30.26446, -97.75665)",15.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,08:32:03,29,10,2014,3rd & West,2552.0,active,"(30.2678, -97.75189)",13.0,8th & Congress,2496.0,active,"(30.2698, -97.74186)",14.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,16:20:15,10,3,2015,Dean Keeton & Speedway,3794.0,active,"(30.28953, -97.73695)",19.0,Long Center @ South 1st & Riverside,2549.0,active,"(30.25941, -97.74971)",13.0

## 2. Explore datatypes

In [7]:
#check datatypes
metrobikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844301 entries, 0 to 1976947
Data columns (total 20 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Trip ID                             int64
 1   Membership Type                     object
 2   Bicycle ID                          object
 3   Bike Type                           category
 4   Checkout Datetime                   datetime64[ns]
 5   Checkout Date                       datetime64[ns]
 6   Checkout Time                       object
 7   Trip Time mins                      int64
 8   Month                               int64
 9   Year                                int64
 10  Checkout Name Current               object
 11  Checkout Kiosk ID current           float64
 12  Checkout Kiosk Status               object
 13  Checkout Kiosk Geographic Location  object
 14  Checkout Kiosk Dock Count           float64
 15  Return Name Current                 object
 16  Return Kiosk ID current             float64
 17  Return Kiosk Status                 object
 18  Return Kiosk Geographic Location    object
 19  Return Kiosk Dock Count             float64
dtypes: category(1), datetime64[ns](2), float64(4), int64(4), object(9)
memory usage: 283.2+ MB

   ### update membership type to category

In [21]:
#change membership type to category 
metrobikes['Membership Type'] = metrobikes['Membership Type'].astype('category')

In [24]:
#check change
metrobikes['Membership Type'].dtype

CategoricalDtype(categories=['$1 Pay by Trip Fall Special',
                  '$1 Pay by Trip Winter Special', '24 Hour Walk Up Pass',
                  '24-Hour Membership', '3-Day Explorer', '3-Day Weekender',
                  '7-Day', 'ACL 2019 Pass', 'ACL Weekend Pass Special',
                  'Aluminum Access', 'Annual', 'Annual ', 'Annual Member',
                  'Annual Membership', 'Annual Membership ', 'Annual Pass',
                  'Annual Pass (30 minute)', 'Annual Pass (Original)',
                  'Annual Plus', 'Annual Plus Membership',
                  'Denver B-cycle Founder', 'Explorer',
                  'Explorer ($8 plus tax)', 'Founding Member',
                  'FunFunFun Fest 3 Day Pass', 'HT Ram Membership',
                  'Heartland Pass (Annual Pay)',
                  'Heartland Pass (Monthly Pay)', 'Local30',
                  'Local30 ($11 plus tax)', 'Local31', 'Local365',
                  'Local365 ($80 plus tax)',
                  'Local365 Youth (age 13-17 riders)',
                  'Local365 Youth (age 13-17 riders)- 1/2 off Special',
                  'Local365 Youth with helmet (age 13-17 riders)',
                  'Local365+Guest Pass',
                  'Local365+Guest Pass- 1/2 off Anniversary Special',
                  'Local365- 1/2 off Anniversary Special', 'Madtown Monthly',
                  'Membership: pay once  one-year commitment',
                  'Membership: pay once, one-year commitment',
                  'Pay-as-you-ride', 'RESTRICTED', 'Republic Rider',
                  'Republic Rider (Annual)', 'RideScout Single Ride',
                  'RideScout Single Tide', 'Semester Membership',
                  'Single Trip', 'Single Trip ',
                  'Single Trip (Pay-as-you-ride)', 'Single Trip Ride',
                  'Student Membership', 'Try Before You Buy Special',
                  'U.T. Student Membership', 'UT Student Membership', 'Unkown',
                  'Walk Up', 'Weekender', 'Weekender ($15 plus tax)'],
, ordered=False)

## 3. Check for consistencies in numerical variables

In [8]:
#check descriptive statistics
metrobikes.describe()

,Trip ID,Trip Time mins,Month,Year,Checkout Kiosk ID current,Checkout Kiosk Dock Count,Return Kiosk ID current,Return Kiosk Dock Count
count,1.844301e+06,1.844301e+06,1.844301e+06,1.844301e+06,1.844301e+06,1.844301e+06,1.844301e+06,1.844301e+06
mean,1.823133e+07,2.319435e+01,6.297752e+00,2.018690e+03,2.992779e+03,1.445797e+01,3.000112e+03,1.456896e+01
std,8.231586e+06,3.179172e+01,3.227824e+00,2.788968e+00,1.135123e+03,4.587478e+00,2.145620e+03,4.593577e+00
min,1.954839e+06,2.000000e+00,1.000000e+00,2.013000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.288639e+07,6.000000e+00,3.000000e+00,2.016000e+03,2.544000e+03,1.300000e+01,2.544000e+03,1.300000e+01
50%,1.862966e+07,1.200000e+01,6.000000e+00,2.018000e+03,2.575000e+03,1.300000e+01,2.575000e+03,1.500000e+01
75%,2.568760e+07,2.800000e+01,9.000000e+00,2.021000e+03,3.793000e+03,1.800000e+01,3.794000e+03,1.800000e+01
max,3.040914e+07,4.110000e+02,1.200000e+01,2.023000e+03,1.111111e+06,2.200000e+01,1.111111e+06,2.200000e+01

### Kiosk ID 1111111 is for stolen bikes

## 4. Check for consistencies in qualitative variables

### Membership type

In [9]:
#check membership type
metrobikes['Membership Type'].value_counts()

Local365                                     329400
U.T. Student Membership                      284852
24 Hour Walk Up Pass                         253524
Student Membership                           251749
Walk Up                                      222736
                                              ...
Membership: pay once, one-year commitment         2
Annual Pass (30 minute)                           2
Heartland Pass (Monthly Pay)                      1
RESTRICTED                                        1
24-Hour Membership                                1
Name: Membership Type, Length: 61, dtype: int64

### Bike Type

In [10]:
#check bike type
metrobikes['Bike Type'].value_counts()

classic     1217194
electric     627107
Name: Bike Type, dtype: int64

### Checkout Kiosk Name

In [11]:
#check chekcout kiosk name
metrobikes['Checkout Name Current'].value_counts()

21st & Speedway @PCL          140591
Dean Keeton & Speedway         76290
Riverside @ S. Lamar           57466
Rainey St @ Cummings           53136
Rio Grande & 28th              51330
                               ...
Pease Park                       649
East 7th & Pleasant Valley       477
Republic Square                  422
OFFICE/Main/Shop/Repair          315
Stolen                             1
Name: Checkout Name Current, Length: 98, dtype: int64

### Checkout Kiosk Status

In [12]:
metrobikes['Checkout Kiosk Status'].value_counts()

active    1754290
closed      90010
Stolen          1
Name: Checkout Kiosk Status, dtype: int64

### Return Kiosk Name

In [13]:
metrobikes['Return Name Current'].value_counts()

21st & Speedway @PCL          144173
Dean Keeton & Speedway         82787
Riverside @ S. Lamar           56267
Rainey St @ Cummings           51892
Guadalupe & 21st               50937
                               ...
Pease Park                       574
East 7th & Pleasant Valley       469
OFFICE/Main/Shop/Repair          446
Republic Square                  408
Stolen                             6
Name: Return Name Current, Length: 98, dtype: int64

### Return Kiosk Status

In [14]:
metrobikes['Return Kiosk Status'].value_counts()

active    1759394
closed      84901
Stolen          6
Name: Return Kiosk Status, dtype: int64

### Checkout geographic location

In [15]:
metrobikes['Checkout Kiosk Geographic Location'].value_counts()

(30.283, -97.7375)         140591
(30.28953, -97.73695)       76290
(30.26446, -97.75665)       57466
(30.255906, -97.739949)     53136
(30.29333, -97.74412)       51330
                            ...
(30.28118, -97.75219)         649
(30.26025, -97.71002)         477
(30.26751, -97.74802)         422
(30.27186, -97.73997)         315
(20.10001, -10.10001)           1
Name: Checkout Kiosk Geographic Location, Length: 98, dtype: int64

### Return geographic location

In [16]:
metrobikes['Return Kiosk Geographic Location'].value_counts()

(30.283, -97.7375)         144173
(30.28953, -97.73695)       82787
(30.26446, -97.75665)       56267
(30.255906, -97.739949)     51892
(30.28395, -97.74198)       50937
                            ...
(30.28118, -97.75219)         574
(30.26025, -97.71002)         469
(30.27186, -97.73997)         446
(30.26751, -97.74802)         408
(20.10001, -10.10001)           6
Name: Return Kiosk Geographic Location, Length: 98, dtype: int64

## 5. Check for mixed data types

In [17]:
#check which variables have mixed datatypes
for col in metrobikes.columns.tolist():
  weird = (metrobikes[[col]].applymap(type) != metrobikes[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (metrobikes[weird]) > 0:
    print (col)

### no mixed datatypes

## 6. Check for duplicates

In [18]:
df_dupes = metrobikes[metrobikes.duplicated()]
df_dupes

Empty DataFrame
Columns: [Trip ID, Membership Type, Bicycle ID, Bike Type, Checkout Datetime, Checkout Date, Checkout Time, Trip Time mins, Month, Year, Checkout Name Current, Checkout Kiosk ID current, Checkout Kiosk Status, Checkout Kiosk Geographic Location, Checkout Kiosk Dock Count, Return Name Current, Return Kiosk ID current, Return Kiosk Status, Return Kiosk Geographic Location, Return Kiosk Dock Count]
Index: []

### no duplicates

## 7. Export cleaned dataset

In [25]:
#check shape before export
metrobikes.shape

(1844301, 20)

In [26]:
#export file to pkl
metrobikes.to_pickle(os.path.join(path, 
                                 '02.Data',
                                 'PreparedData',
                                 'metrobikes_cleaned.pkl'))