## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
# import dataset and check import
metrobikes = pd.read_pickle(os.path.join(path, '02.Data', 'PreparedData', 'metrobikes_with_zips.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,...,Return Kiosk Geographic Location,Return Kiosk Dock Count,Checkout Day of Month,Checkout Hour of Day,Checkout Kiosk Latitude,Checkout Kiosk Longitude,Return Kiosk Latitude,Return Kiosk Longitude,Trip Time Category,Kiosk_Zipcode
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,09:51:41,3,12,2017,...,"(30.26634, -97.74378)",15.0,1,9,30.269800,-97.741859,30.266340,-97.743782,Short trip,78701.0
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,16:20:24,14,3,2015,...,"(30.26634, -97.74378)",15.0,13,16,30.266340,-97.743782,30.266340,-97.743782,Typical Trip,78701.0
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,08:33:54,22,10,2014,...,"(30.26446, -97.75665)",15.0,14,8,30.263041,-97.758240,30.264460,-97.756653,Typical Trip,78704.0
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,08:32:03,29,10,2014,...,"(30.2698, -97.74186)",14.0,14,8,30.267799,-97.751892,30.269800,-97.741859,Typical Trip,78701.0
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,16:20:15,10,3,2015,...,"(30.25941, -97.74971)",13.0,13,16,30.289530,-97.736954,30.259411,-97.749710,Typical Trip,78712.0

## 2. Add membership category

In [4]:
#select columns to keep in subset
metrobikes.columns

Index(['Trip ID', 'Membership Type', 'Bicycle ID', 'Bike Type',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time', 'Trip Time mins',
       'Month', 'Year', 'Checkout Name Current', 'Checkout Kiosk ID current',
       'Checkout Kiosk Status', 'Checkout Kiosk Geographic Location',
       'Checkout Kiosk Dock Count', 'Return Name Current',
       'Return Kiosk ID current', 'Return Kiosk Status',
       'Return Kiosk Geographic Location', 'Return Kiosk Dock Count',
       'Checkout Day of Month', 'Checkout Hour of Day',
       'Checkout Kiosk Latitude', 'Checkout Kiosk Longitude',
       'Return Kiosk Latitude', 'Return Kiosk Longitude', 'Trip Time Category',
       'Kiosk_Zipcode'],
      dtype='object')

In [5]:
#create list of columns to keep in subset
cols_to_keep = ['Trip ID', 'Membership Type', 'Bicycle ID',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time', 'Trip Time mins', 
        'Checkout Kiosk Geographic Location', 'Checkout Kiosk Dock Count', 
        'Return Kiosk Geographic Location', 'Return Kiosk Dock Count',
       'Checkout Day of Month', 'Checkout Hour of Day', 'Trip Time Category','Kiosk_Zipcode']

In [6]:
#create subset
metrobikes_sub = metrobikes[cols_to_keep]
metrobikes_sub.head()

,Trip ID,Membership Type,Bicycle ID,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Kiosk Geographic Location,Return Kiosk Dock Count,Checkout Day of Month,Checkout Hour of Day,Trip Time Category,Kiosk_Zipcode
0,16459203,Local365,37,2017-12-01 09:51:41,2017-12-01,09:51:41,3,"(30.2698, -97.74186)",14.0,"(30.26634, -97.74378)",15.0,1,9,Short trip,78701.0
1,4106422,Local365,971,2015-03-13 16:20:24,2015-03-13,16:20:24,14,"(30.26634, -97.74378)",15.0,"(30.26634, -97.74378)",15.0,13,16,Typical Trip,78701.0
2,3454605,Local365,29,2014-10-14 08:33:54,2014-10-14,08:33:54,22,"(30.26304, -97.75824)",0.0,"(30.26446, -97.75665)",15.0,14,8,Typical Trip,78704.0
3,3454592,Local365,646,2014-10-14 08:32:03,2014-10-14,08:32:03,29,"(30.2678, -97.75189)",13.0,"(30.2698, -97.74186)",14.0,14,8,Typical Trip,78701.0
4,4106421,24 Hour Walk Up Pass,124,2015-03-13 16:20:15,2015-03-13,16:20:15,10,"(30.28953, -97.73695)",19.0,"(30.25941, -97.74971)",13.0,13,16,Typical Trip,78712.0

In [7]:
#get list of membership types to create categories
metrobikes_sub['Membership Type'].value_counts()

Local365                                     329400
U.T. Student Membership                      284852
24 Hour Walk Up Pass                         253524
Student Membership                           251749
Walk Up                                      222736
                                              ...
Annual Pass (30 minute)                           2
Membership: pay once, one-year commitment         2
RESTRICTED                                        1
24-Hour Membership                                1
Heartland Pass (Monthly Pay)                      1
Name: Membership Type, Length: 61, dtype: int64

In [8]:
metrobikes_sub['Membership Type'].value_counts().to_clipboard()

In [9]:
#create dictionary of membership categories
membership_dictionary = {'Local365':'annual', 'U.T. Student Membership':'student', '24 Hour Walk Up Pass':'walk up', 
                         'Student Membership':'student', 'Walk Up':'walk up', 'Local31':'monthly', 'Explorer':'24-hour', 
                        'Pay-as-you-ride':'pay as you go', 'Local30':'monthly', '3-Day Weekender':'weekend pass',
                         'Weekender':'multi-day', 'Single Trip (Pay-as-you-ride)':'pay as you go', 
                         'Local365+Guest Pass':'annual', 'Single Trip' :'single trip', 'Founding Member':'annual',
                         '3-Day Explorer':'multi-day', '7-Day':'multi-day', 'Single Trip':'single trip', 'Unkown':'unkown', 
                         'Local365 ($80 plus tax)':'annual', 'Semester Membership':'student', 'Single Trip Ride':'single trip',
                         'Local365- 1/2 off Anniversary Special':'promotional', 'HT Ram Membership':'student', 'Annual':'annual', 
                         'Annual Membership':'annual', 'Local30 ($11 plus tax)':'monthly', '$1 Pay by Trip Winter Special':'promotional', 
                         'Local365 Youth (age 13-17 riders)':'youth', 'Annual ':'annual', 'Try Before You Buy Special':'promotional', 
                         'Weekender ($15 plus tax)':'multi-day', '$1 Pay by Trip Fall Special':'pay as you go', 
                         'Local365+Guest Pass- 1/2 off Anniversary Special':'annual', 'Annual Member':'annual', 
                         'ACL Weekend Pass Special':'special event', 'Republic Rider (Annual)':'annual', 
                         'Annual Pass':'annual', 'ACL 2019 Pass':'special event', 'Explorer ($8 plus tax)':'24-hour', 
                         'Annual Plus':'annual', 'RideScout Single Tide':'single trip', 'Aluminum Access':'unkown', 
                         'Local365 Youth with helmet (age 13-17 riders)':'youth', 'Madtown Monthly':'monthly', 
                         'FunFunFun Fest 3 Day Pass':'special event', 'Annual Pass (Original)':'annual', 
                         'Annual Plus Membership':'annual', 'Membership: pay once  one-year commitment':'annual', 
                         'UT Student Membership':'student', 'Heartland Pass (Annual Pay)':'annual', 'Republic Rider':'annual', 
                         'Annual Membership ':'annual', 'Denver B-cycle Founder':'annual', 'RideScout Single Ride':'single trip', 
                         'Local365 Youth (age 13-17 riders)- 1/2 off Special':'promotional', 'Annual Pass (30 minute)':'annual', 
                         'Membership: pay once, one-year commitment':'annual', 'RESTRICTED':'unkown', 
                         '24-Hour Membership':'24-hour', 'Heartland Pass (Monthly Pay)':'monthly'}

In [10]:
#add membership_category to metrobikes using membership type
metrobikes_sub['Membership_cat'] = metrobikes_sub['Membership Type'].map(membership_dictionary)
metrobikes_sub.head()

C:\Users\krist\AppData\Local\Temp\ipykernel_25132\1499048475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metrobikes_sub['Membership_cat'] = metrobikes_sub['Membership Type'].map(membership_dictionary)

,Trip ID,Membership Type,Bicycle ID,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Kiosk Geographic Location,Return Kiosk Dock Count,Checkout Day of Month,Checkout Hour of Day,Trip Time Category,Kiosk_Zipcode,Membership_cat
0,16459203,Local365,37,2017-12-01 09:51:41,2017-12-01,09:51:41,3,"(30.2698, -97.74186)",14.0,"(30.26634, -97.74378)",15.0,1,9,Short trip,78701.0,annual
1,4106422,Local365,971,2015-03-13 16:20:24,2015-03-13,16:20:24,14,"(30.26634, -97.74378)",15.0,"(30.26634, -97.74378)",15.0,13,16,Typical Trip,78701.0,annual
2,3454605,Local365,29,2014-10-14 08:33:54,2014-10-14,08:33:54,22,"(30.26304, -97.75824)",0.0,"(30.26446, -97.75665)",15.0,14,8,Typical Trip,78704.0,annual
3,3454592,Local365,646,2014-10-14 08:32:03,2014-10-14,08:32:03,29,"(30.2678, -97.75189)",13.0,"(30.2698, -97.74186)",14.0,14,8,Typical Trip,78701.0,annual
4,4106421,24 Hour Walk Up Pass,124,2015-03-13 16:20:15,2015-03-13,16:20:15,10,"(30.28953, -97.73695)",19.0,"(30.25941, -97.74971)",13.0,13,16,Typical Trip,78712.0,walk up

In [11]:
metrobikes_sub['Membership_cat'].value_counts()

student          542178
walk up          476260
annual           356049
monthly          171160
pay as you go     91224
24-hour           86299
weekend pass      47801
multi-day         44985
single trip        7745
unkown             4817
promotional        3849
youth               733
special event       505
Name: Membership_cat, dtype: int64

In [16]:
#see how many trips happen under each membership category
metrobikes_sub.groupby('Membership_cat').agg({'Trip ID':'count'})

                Trip ID
Membership_cat
24-hour           86299
annual           356049
monthly          171160
multi-day         44985
pay as you go     91224
promotional        3849
single trip        7745
special event       505
student          542178
unkown             4817
walk up          476260
weekend pass      47801
youth               733

In [17]:
#see average trip time by membership category
metrobikes_sub.groupby('Membership_cat').agg({'Trip Time mins':'mean'})

                Trip Time mins
Membership_cat
24-hour              35.797379
annual               13.933181
monthly              21.984348
multi-day            24.097366
pay as you go        35.936420
promotional          22.618602
single trip          43.130019
special event        22.267327
student              10.955042
unkown               23.305584
walk up              38.528167
weekend pass         27.203929
youth                16.477490

In [18]:
#export subset
metrobikes_sub.to_pickle(os.path.join(path, '02.Data', 'PreparedData', 'metrobikes_subset.pkl'))