In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
# import dataset and check import
metrobikes = pd.read_pickle(os.path.join(path, '02.Data', 'PreparedData', 'metrobikes_subset.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Checkout Kiosk Geographic Location,Checkout Kiosk Dock Count,Return Kiosk Geographic Location,Return Kiosk Dock Count,Checkout Day of Month,Checkout Hour of Day,Trip Time Category,Kiosk_Zipcode,Membership_cat
0,16459203,Local365,37,2017-12-01 09:51:41,2017-12-01,09:51:41,3,"(30.2698, -97.74186)",14.0,"(30.26634, -97.74378)",15.0,1,9,Short trip,78701.0,annual
1,4106422,Local365,971,2015-03-13 16:20:24,2015-03-13,16:20:24,14,"(30.26634, -97.74378)",15.0,"(30.26634, -97.74378)",15.0,13,16,Typical Trip,78701.0,annual
2,3454605,Local365,29,2014-10-14 08:33:54,2014-10-14,08:33:54,22,"(30.26304, -97.75824)",0.0,"(30.26446, -97.75665)",15.0,14,8,Typical Trip,78704.0,annual
3,3454592,Local365,646,2014-10-14 08:32:03,2014-10-14,08:32:03,29,"(30.2678, -97.75189)",13.0,"(30.2698, -97.74186)",14.0,14,8,Typical Trip,78701.0,annual
4,4106421,24 Hour Walk Up Pass,124,2015-03-13 16:20:15,2015-03-13,16:20:15,10,"(30.28953, -97.73695)",19.0,"(30.25941, -97.74971)",13.0,13,16,Typical Trip,78712.0,walk up

In [4]:
groupby_cols = ['Checkout Date', 'Checkout Kiosk Geographic Location', 'Membership_cat']

In [5]:
aggregated_sub = metrobikes.groupby(groupby_cols).agg({'Trip ID':'nunique', 
                                      'Checkout Hour of Day': 'mean', 
                                      'Trip Time mins':'mean'})
aggregated_sub.head()

                                                                 Trip ID  \
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual                1
2013-12-13    (30.2726, -97.74127)               annual                3
              (30.28953, -97.73695)              walk up               1
2013-12-15    (30.26476, -97.74678)              walk up               1
2013-12-17    (30.2726, -97.74127)               annual                1

                                                                 Checkout Hour of Day  \
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual                          16.0
2013-12-13    (30.2726, -97.74127)               annual                           9.0
              (30.28953, -97.73695)              walk up                         12.0
2013-12-15    (30.26476, -97.74678)              walk up                         10.0
2013-12-17    (30.2726, -97.74127)               annual                          14.0

                                                                 Trip Time mins
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual               29.000000
2013-12-13    (30.2726, -97.74127)               annual               12.333333
              (30.28953, -97.73695)              walk up               2.000000
2013-12-15    (30.26476, -97.74678)              walk up               2.000000
2013-12-17    (30.2726, -97.74127)               annual                3.000000

In [6]:
aggregated_sub.rename(columns = {'Checkout Kiosk Geographic Location':'Checkout Coordinates', 
                                 'Trip ID': 'Trip Count', 
                                'Checkout Hour of Day':'Avg Checkout Hour',
                                'Trip Time mins':'Avg Trip Time mins'}, 
                      inplace = True)
aggregated_sub.head()

                                                                 Trip Count  \
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual                   1
2013-12-13    (30.2726, -97.74127)               annual                   3
              (30.28953, -97.73695)              walk up                  1
2013-12-15    (30.26476, -97.74678)              walk up                  1
2013-12-17    (30.2726, -97.74127)               annual                   1

                                                                 Avg Checkout Hour  \
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual                       16.0
2013-12-13    (30.2726, -97.74127)               annual                        9.0
              (30.28953, -97.73695)              walk up                      12.0
2013-12-15    (30.26476, -97.74678)              walk up                      10.0
2013-12-17    (30.2726, -97.74127)               annual                       14.0

                                                                 Avg Trip Time mins
Checkout Date Checkout Kiosk Geographic Location Membership_cat
2013-12-12    (30.2726, -97.74127)               annual                   29.000000
2013-12-13    (30.2726, -97.74127)               annual                   12.333333
              (30.28953, -97.73695)              walk up                   2.000000
2013-12-15    (30.26476, -97.74678)              walk up                   2.000000
2013-12-17    (30.2726, -97.74127)               annual                    3.000000

In [7]:
aggregated_sub.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 451133 entries, (Timestamp('2013-12-12 00:00:00'), '(30.2726, -97.74127)', 'annual') to (Timestamp('2023-07-31 00:00:00'), '(30.29439, -97.78375)', 'monthly')
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Trip Count          451133 non-null  int64
 1   Avg Checkout Hour   451133 non-null  float64
 2   Avg Trip Time mins  451133 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 12.1+ MB

In [8]:
aggregated_sub.reset_index(inplace = True)
aggregated_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451133 entries, 0 to 451132
Data columns (total 6 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Checkout Date                       451133 non-null  datetime64[ns]
 1   Checkout Kiosk Geographic Location  451133 non-null  object
 2   Membership_cat                      451133 non-null  object
 3   Trip Count                          451133 non-null  int64
 4   Avg Checkout Hour                   451133 non-null  float64
 5   Avg Trip Time mins                  451133 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 20.7+ MB

In [9]:
aggregated_sub.head()

,Checkout Date,Checkout Kiosk Geographic Location,Membership_cat,Trip Count,Avg Checkout Hour,Avg Trip Time mins
0,2013-12-12,"(30.2726, -97.74127)",annual,1,16.0,29.000000
1,2013-12-13,"(30.2726, -97.74127)",annual,3,9.0,12.333333
2,2013-12-13,"(30.28953, -97.73695)",walk up,1,12.0,2.000000
3,2013-12-15,"(30.26476, -97.74678)",walk up,1,10.0,2.000000
4,2013-12-17,"(30.2726, -97.74127)",annual,1,14.0,3.000000

In [10]:
aggregated_sub.rename(columns = {'Checkout Kiosk Geographic Location':'Kiosk Coordinates'}, inplace = True)
aggregated_sub.head()

,Checkout Date,Kiosk Coordinates,Membership_cat,Trip Count,Avg Checkout Hour,Avg Trip Time mins
0,2013-12-12,"(30.2726, -97.74127)",annual,1,16.0,29.000000
1,2013-12-13,"(30.2726, -97.74127)",annual,3,9.0,12.333333
2,2013-12-13,"(30.28953, -97.73695)",walk up,1,12.0,2.000000
3,2013-12-15,"(30.26476, -97.74678)",walk up,1,10.0,2.000000
4,2013-12-17,"(30.2726, -97.74127)",annual,1,14.0,3.000000

In [11]:
#export file
aggregated_sub.to_csv(os.path.join(path, 
                                  '02.Data', 
                                  'PreparedData', 
                                  'metrobikes_aggregated.csv'))

In [13]:
aggregated_sub2 = metrobikes.groupby(['Trip Time Category', 'Membership_cat']).agg({'Trip ID':'nunique'})
aggregated_sub2

                                   Trip ID
Trip Time Category Membership_cat
Short trip         24-hour            5352
                   annual            90586
                   monthly           25869
                   multi-day          2842
                   pay as you go      5896
                   promotional         762
                   single trip         290
                   special event        27
                   student          257052
                   unkown              446
                   walk up           16425
                   weekend pass       4234
                   youth               214
Typical Trip       24-hour           40461
                   annual           231195
                   monthly          101953
                   multi-day         31425
                   pay as you go     47274
                   promotional        2267
                   single trip        3242
                   special event       378
                   student          249701
                   unkown             3349
                   walk up          267122
                   weekend pass      28759
                   youth               400
Unusual trip       24-hour           40486
                   annual            34268
                   monthly           43338
                   multi-day         10718
                   pay as you go     38054
                   promotional         820
                   single trip        4213
                   special event       100
                   student           35425
                   unkown             1022
                   walk up          192713
                   weekend pass      14808
                   youth               119

In [14]:
aggregated_sub2.to_clipboard()

In [16]:
aggregated_sub2.to_csv(os.path.join(path, 
                                  '02.Data', 
                                  'PreparedData', 
                                  'metrobikes_agg_membcat_tripcat.csv'))