In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define file path
path = r'C:\Users\krist\ATX Metro Bike'

In [3]:
# import dataset and check import
metrobikes = pd.read_pickle(os.path.join(path, '02.Data', 'PreparedData', 'metrobikes_TimeAsFloats.pkl'))
metrobikes.head()

,Trip ID,Membership Type,Bicycle ID,Bike Type,Checkout Datetime,Checkout Date,Checkout Time,Trip Time mins,Month,Year,...,Checkout Day of Month,Checkout Hour of Day,Checkout Kiosk Latitude,Checkout Kiosk Longitude,Return Kiosk Latitude,Return Kiosk Longitude,Trip Time Category,Kiosk_Zipcode,Checkout time float,Return time float
0,16459203,Local365,37,classic,2017-12-01 09:51:41,2017-12-01,09:51:41,3,12,2017,...,1,9,30.269800,-97.741859,30.266340,-97.743782,Short trip,78701.0,9.850000,9.900000
1,4106422,Local365,971,classic,2015-03-13 16:20:24,2015-03-13,16:20:24,14,3,2015,...,13,16,30.266340,-97.743782,30.266340,-97.743782,Typical Trip,78701.0,16.333333,16.566667
2,3454605,Local365,29,classic,2014-10-14 08:33:54,2014-10-14,08:33:54,22,10,2014,...,14,8,30.263041,-97.758240,30.264460,-97.756653,Typical Trip,78704.0,8.550000,8.916667
3,3454592,Local365,646,classic,2014-10-14 08:32:03,2014-10-14,08:32:03,29,10,2014,...,14,8,30.267799,-97.751892,30.269800,-97.741859,Typical Trip,78701.0,8.533333,9.016667
4,4106421,24 Hour Walk Up Pass,124,classic,2015-03-13 16:20:15,2015-03-13,16:20:15,10,3,2015,...,13,16,30.289530,-97.736954,30.259411,-97.749710,Typical Trip,78712.0,16.333333,16.500000

In [4]:
metrobikes.columns

Index(['Trip ID', 'Membership Type', 'Bicycle ID', 'Bike Type',
       'Checkout Datetime', 'Checkout Date', 'Checkout Time', 'Trip Time mins',
       'Month', 'Year', 'Checkout Name Current', 'Checkout Kiosk ID current',
       'Checkout Kiosk Status', 'Checkout Kiosk Geographic Location',
       'Checkout Kiosk Dock Count', 'Return Name Current',
       'Return Kiosk ID current', 'Return Kiosk Status',
       'Return Kiosk Geographic Location', 'Return Kiosk Dock Count',
       'Checkout Day of Month', 'Checkout Hour of Day',
       'Checkout Kiosk Latitude', 'Checkout Kiosk Longitude',
       'Return Kiosk Latitude', 'Return Kiosk Longitude', 'Trip Time Category',
       'Kiosk_Zipcode', 'Checkout time float', 'Return time float'],
      dtype='object')

In [7]:
sub = metrobikes[['Trip ID', 'Bike Type','Checkout Datetime', 
                 'Checkout Date', 'Trip Time mins', 'Checkout Name Current', 
                  'Checkout Kiosk Latitude', 'Checkout Kiosk Longitude',
                  'Trip Time Category', 'Kiosk_Zipcode', 
                 'Checkout time float', 'Return time float']]
sub

,Trip ID,Bike Type,Checkout Datetime,Checkout Date,Trip Time mins,Checkout Name Current,Checkout Kiosk Latitude,Checkout Kiosk Longitude,Trip Time Category,Kiosk_Zipcode,Checkout time float,Return time float
0,16459203,classic,2017-12-01 09:51:41,2017-12-01,3,8th & Congress,30.269800,-97.741859,Short trip,78701.0,9.850000,9.900000
1,4106422,classic,2015-03-13 16:20:24,2015-03-13,14,4th & Congress,30.266340,-97.743782,Typical Trip,78701.0,16.333333,16.566667
2,3454605,classic,2014-10-14 08:33:54,2014-10-14,22,Toomey Rd @ South Lamar,30.263041,-97.758240,Typical Trip,78704.0,8.550000,8.916667
3,3454592,classic,2014-10-14 08:32:03,2014-10-14,29,3rd & West,30.267799,-97.751892,Typical Trip,78701.0,8.533333,9.016667
4,4106421,classic,2015-03-13 16:20:15,2015-03-13,10,Dean Keeton & Speedway,30.289530,-97.736954,Typical Trip,78712.0,16.333333,16.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
1976943,30400337,electric,2023-07-31 09:12:46,2023-07-31,111,Lakeshore & Pleasant Valley,30.242580,-97.717262,Unusual trip,78741.0,9.200000,11.050000
1976944,30247293,electric,2023-07-16 17:15:30,2023-07-16,3,3rd & West,30.267799,-97.751892,Short trip,78701.0,17.250000,17.300000
1976945,30076267,electric,2023-07-01 10:47:28,2023-07-01,83,4th/Sabine,30.264326,-97.736443,Unusual trip,78701.0,10.783333,12.166667
1976946,30147090,electric,2023-07-07 17:15:47,2023-07-07,25,Zilker Park,30.265900,-97.768219,Typical Trip,78746.0,17.250000,17.666667
1976947,30407805,electric,2023-07-31 20:05:53,2023-07-31,30,Convention Center / 3rd & Trinity,30.264259,-97.740227,Typical Trip,78701.0,20.083333,20.583333

In [8]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844301 entries, 0 to 1976947
Data columns (total 12 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Trip ID                   int64
 1   Bike Type                 category
 2   Checkout Datetime         datetime64[ns]
 3   Checkout Date             datetime64[ns]
 4   Trip Time mins            int64
 5   Checkout Name Current     object
 6   Checkout Kiosk Latitude   float32
 7   Checkout Kiosk Longitude  float32
 8   Trip Time Category        object
 9   Kiosk_Zipcode             float64
 10  Checkout time float       float64
 11  Return time float         float64
dtypes: category(1), datetime64[ns](2), float32(2), float64(3), int64(2), object(2)
memory usage: 156.5+ MB

In [14]:
sub2 = sub[sub['Trip Time mins']<=150]
sub2['Trip Time mins'].value_counts()

5      132598
4      128361
6      117668
7       97453
3       97164
        ...
145       383
148       381
146       381
150       360
149       347
Name: Trip Time mins, Length: 149, dtype: int64

In [19]:
sample = sub2.sample(n=150000)

In [20]:
sample.to_csv(os.path.join(path, 
                        '02.Data',
                        'PreparedData',
                        'metrobikes_4tableau.csv'))